@import '../default.css';

:root {
	--not-user-comment-display: unset;
}
body:not(:hover) .stream-chat-header,
body:not(:hover) [data-test-selector="chat-input-buttons-container"] {
	--not-user-comment-display: flex;
}

* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
}
body {
	background: radial-gradient(farthest-corner at 8% 8%,rgb(160, 160, 160), rgb(80, 80, 80)) !important;
}